html {
  width: 100%;
}

body {
  width: 1150px;
}

:root {
  --main-bg-color: #28282b;
  --main-font-color: rgb(168, 178, 209);
  --secondary-font-color: whitesmoke;
  --hl-link-color: rgb(46, 202, 202);
  --pjd-color: rgb(39, 39, 42);
  --main-font: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  --font-robo: "Montserrat", sans-serif;
  --font-title: "Julius Sans One", sans-serif;
}

/* Variables */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: var(--main-bg-color);
}

/* Styling the Header */
.header {
  padding: 7px 35px;
  display: inline;
}

/* Styling the Unordered List */
.header ul {
  display: flex;
  justify-content: flex-end;
  font-family: var(--font-robo);
  margin-top: 20px;
  margin-left: 1350px;
  width: max-content;
}

.header div ul li {
  display: inline-block;
  margin-bottom: 10px;
  padding-top: 25px;
  padding-left: 10px;
}

/* Styling the list item links */
.header a {
  color: var(--secondary-font-color);
  margin-left: 5px;
  margin-right: 15px;
  padding: 10px;
  font-size: 18px;
  text-decoration: none;
}

.header a:hover {
  color: var(--hl-link-color);
}

/* Styling resume anchor link in nav */

.resume-nav {
  border: 2px solid rgb(46, 202, 202);
  padding: 10px;
  border-radius: 4px;
  color: var(--hl-link-color);
}

.resume-nav:hover {
  background-color: rgba(46, 202, 202, 0.1);
}

/* Hero Style Start */
.hero {
  width: 100vw;
  height: 150px;
  display: inline;
  justify-content: flex-start;
}

.hero span {
  color: rgb(46, 202, 202);
  font-size: 150px;
}

.name {
  display: block;
  justify-content: center;
  margin-left: 350px;
  margin-top: 100px;
  width: 1200px;
}

/* Styling the header h1 */
.name h1 {
  display: inline;
  color: var(--secondary-font-color);
  font-family: var(--font-title);
  font-size: 70px;
  line-height: 1.2;
  box-sizing: inherit;
  margin-bottom: 120px;
  margin-left: 200px;
}

.name h2 {
  color: var(--main-font-color);
  font-family: var(--font-title);
  font-size: 50px;
  font-weight: 500;
  margin-left: 210px;
}

.objective p {
  color: var(--main-font-color);
  margin: 5px 750px 30px 560px;
  font-family: var(--main-font);
  font-size: 22px;
  width: 600px;
}

.btn {
  display: flex;
  background-color: var(--main-bg-color);
  font-family: var(--font-robo);
  font-size: 18px;
  font-weight: lighter;
  margin: 5px 1150px 30px 570px;
  width: 500px;
}

.btn a {
  color: var(--hl-link-color);
  border: 1px solid rgb(46, 202, 202);
  border-radius: 4px;
  padding: 15px;
}

.btn a:hover {
  background-color: rgba(46, 202, 202, 0.1);
  color: var(--hl-link-color);
  text-decoration: none;
}

.leftside {
  margin: 10px;
  position: fixed;
  display: flex;
  flex-direction: column;
  margin-top: 450px;
}

.leftside ul {
  top: 600px;
  margin-left: 40px;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.leftside a {
  color: var(--hl-link-color);
}

.leftside li {
  margin-bottom: 25px;
}

.leftside a:hover {
  color: var(--main-font-color);
}

.v1 {
  border-left: 1px solid;
  color: var(--secondary-font-color);
  height: 100px;
  margin-left: 65px;
  margin-top: 320px;
  position: fixed;
}

.v2 {
  border-left: 1px solid;
  color: var(--secondary-font-color);
  height: 100px;
  margin-left: 65px;
  margin-top: 625px;
  position: fixed;
}

body {
  background-color: var(--main-bg-color);
}

.background {
  position: relative;
  top: 0;
  left: 0;
  width: 0px;
}

section {
  padding: 20px;
}

/* Styling the section headers */
section h3 {
  width: 650px;
  height: 50px;
  color: var(--secondary-font-color);
  font-family: var(--font-title);
  font-weight: 600;
}

h3 {
  overflow: hidden;
  text-align: center;
}

h3:before,
h3:after {
  background-color: var(--hl-link-color);
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 10%;
}

h3:before {
  right: 0.5em;
  margin-left: -50%;
}

h3:after {
  left: 0.5em;
  margin-right: -50%;
}

/* About Me Section */
.about-me {
  color: var(--main-font-color);
  margin: 200px 200px;
  padding-left: 50px;
  font-family: var(--main-font);
  margin-left: 450px;
}

.about-me p {
  padding-top: 50px;
  font-size: 22px;
  margin-left: 80px;
  width: 700px;
}

/* Portfolio Section */
#portfolio {
  margin-left: 625px;
  width: 200px;
}

.portfolio h1 {
  width: fit-content;
}

.portfolio h3 {
  margin-left: -140px;
}

.portfolio p {
  color: var(--secondary-font-color);
}

.img__wrap,
.img__wrap2,
.img__wrap3,
.img__wrap4 {
  height: fit-content;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-bottom: 200px;
}

.img__wrap {
  margin-top: 70px;
  margin-left: 185px;
  position: relative;
  width: 45%;
}

.img-tint-1 {
  width: 550px;
  height: 375px;
  background: url("../images/run\ buddy\ tinted\ image.jpg");
  background-size: cover;
}

.img-tint-1:hover {
  background: url("../images/hero-bg.jpg");
  background-size: cover;
}

.img__wrap h4 {
  margin-left: 780px;
}

.img__wrap2 {
  margin-top: 70px;
  position: relative;
  margin-left: 620px;
  width: 45%;
}

.img-tint-2 {
  width: 550px;
  height: 375px;
  background: url("../images/Horiseon-tinted-image.jpg");
  background-size: cover;
}

.img-tint-2:hover {
  background: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
}

.img__wrap2 h4 {
  margin-left: -440px;
  margin-top: 90px;
}

.img__wrap3 {
  margin-top: 70px;
  margin-left: 190px;
  position: relative;
  width: 45%;
}

.img-tint-3 {
  width: 550px;
  height: 375px;
  background: url("../images/Fridge-to-feast-tinted-image.png");
  background-size: cover;
}

.img-tint-3:hover {
  background: url("../images/Fridge-to-Feast-Pic.png");
  background-size: cover;
}

.img__wrap4 {
  margin-top: 70px;
  position: relative;
  margin-left: 620px;
  width: 45%;
}

.img-tint-4 {
  width: 550px;
  height: 375px;
  background: url("../images/Sk8Spotter!-tinted-image.png");
  background-size: cover;
}

.img-tint-4:hover {
  background: url("../images/Sk8Spotter!.png");
  background-size: cover;
}

.img__wrap4 h4 {
  margin-left: -435px;
}

.project-title {
  font-family: var(--font-title);
  color: var(--secondary-font-color);
  font-size: 22px;
  position: absolute;
  width: 200px;
  margin-top: 120px;
  margin-left: 1200px;
}

.project-title-2 {
  font-family: var(--font-title);
  color: var(--secondary-font-color);
  font-size: 22px;
  position: absolute;
  width: 200px;
  margin-top: 150px;
  margin-left: 2830px;
  padding: 30px;
}

.project-title-3 {
  font-family: var(--font-title);
  color: var(--secondary-font-color);
  font-size: 22px;
  position: absolute;
  width: 220px;
  margin-top: 150px;
  margin-left: 745px;
}

.project-title-4 {
  font-family: var(--font-title);
  color: var(--secondary-font-color);
  font-size: 22px;
  position: absolute;
  width: 200px;
  margin-right: 1200px;
  margin-top: 150px;
}

.project-description {
  box-shadow: 0 12px 30px -15px var(--hl-link-color);
  transition: none;
  position: absolute;
  padding: 15px;
  border-radius: 5px;
  background-color: var(--pjd-color);
  margin-left: 900px;
  margin-top: 150px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
}

.project-description p {
  color: var(--main-font-color);
  font-size: 20px;
  background-color: var(--pjd-color);
  padding: 5px;
  margin: 5px;
}

.project-description-2 {
  box-shadow: 0 12px 30px -15px var(--hl-link-color);
  transition: none;
  position: absolute;
  padding: 15px;
  border-radius: 5px;
  background-color: var(--pjd-color);
  margin-right: 900px;
  margin-top: 150px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
}

.project-description-2 p {
  color: var(--main-font-color);
  font-size: 20px;
  background-color: var(--pjd-color);
  padding: 5px;
  margin: 5px;
}

.project-description-3 {
  box-shadow: 0 12px 30px -15px var(--hl-link-color);
  transition: none;
  position: absolute;
  padding: 15px;
  border-radius: 5px;
  background-color: var(--pjd-color);
  margin-left: 900px;
  margin-top: 180px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
}

.project-description-3 p {
  color: var(--main-font-color);
  font-size: 20px;
  background-color: var(--pjd-color);
  padding: 5px;
  margin: 5px;
}

.project-description-4 {
  box-shadow: 0 12px 30px -15px var(--hl-link-color);
  transition: none;
  position: absolute;
  padding: 15px;
  border-radius: 5px;
  background-color: var(--pjd-color);
  margin-right: 900px;
  margin-top: 180px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
}

.project-description-4 p {
  color: var(--main-font-color);
  font-size: 20px;
  background-color: var(--pjd-color);
  padding: 5px;
  margin: 5px;
}

/* Subtitle Text */
.subtitle {
  color: white;
  position: relative;
  left: 400px;
  top: 15px;
  width: 740px;
  height: 120px;
  padding: 35px 20px;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 72px;
}

/* Contact Me Section */
.contact {
  font-size: 20px;
  color: var(--secondary-font-color);
  margin-left: 450px;
  width: 1500px;
}

.contact a {
  line-height: 3;
  font-size: 25px;
  font-family: var(--font-robo);
  color: var(--main-font-color);
  text-decoration: underline 1.5px;
  margin-left: 150px;
}

p {
  font-size: 25px;
  font-family: var(--font-robo);
  color: var(--main-font-color);
  margin-left: 150px;
}

/* Resume Section */
.resume {
  background-color: var(--main-bg-color);
  font-size: 20px;
  padding-bottom: 75px;
  margin-left: 410px;
  margin-top: 50px;
  width: 500px;
}

.resume a {
  font-size: 25px;
  margin-left: 190px;
  font-family: var(--font-robo);
  color: var(--main-font-color);
}

/* Footer */
.footer {
  width: 800px;
  padding: 7px 0px;
  margin-bottom: 60px;
  margin-left: 1200px;
  display: flex;
  flex-direction: row;
}

.footer h4 {
  padding: 5px;
  padding-left: 150px;
  font-family: var(--font-robo);
  font-size: 20px;
  color: var(--secondary-font-color);
}
.footer span {
  color: var(--hl-link-color);
}

@media only screen and (max-width: 980px) {
  .header ul {
    margin-left: 50px;
  }

  .header a {
    font-size: 20px;
  }

  .leftside {
    margin-left: -25px;
  }

  .leftside ul {
    top: 390px;
  }

  .fa-2x {
    font-size: 1.3em;
  }

  .v1 {
    margin-left: 25px;
    margin-top: 150px;
    height: 70px;
  }

  .v2 {
    margin-left: 25px;
    margin-top: 390px;
    height: 70px;
  }

  .name {
    width: 700px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .name h1 {
    color: tomato;
    line-height: 0.3;
    margin-bottom: 50px;
    font-size: 40px;
    margin-left: -250px;
  }

  .hero span {
    font-size: 80px;
  }

  .name h2 {
    line-height: 0.5;
    margin-bottom: 50px;
    font-size: 30px;
    margin-left: -400px;
  }

  .objective {
    width: 500px;
    margin-left: 275px;
  }

  .objective p {
    width: 450px;
    margin-left: -160px;
    margin-top: -50px;
    font-size: 20px;
  }

  .btn {
    width: 300px;
    margin-top: -15px;
    margin-left: 120px;
    font-size: 10px;
  }

  .about-me {
    margin-left: 30px;
    margin-top: 100px;
  }

  .about-me h3 {
    margin-left: -35px;
    font-size: 17px;
  }

  .about-me h3::before {
    margin-right: 0%;
    width: 80px;
  }

  .about-me h3::after {
    margin-right: -40%;
    width: 80px;
  }

  .about-me p {
    width: 500px;
    margin-left: 10px;
    font-size: 15px;
    text-align: center;
    margin-top: -30px;
  }

  #portfolio {
    margin-left: 170px;
  }

  .portfolio h3 {
    margin-top: -170px;
    margin-left: -145px;
    font-size: 17px;
  }

  .portfolio h3::before {
    margin-right: 0%;
    width: 80px;
  }

  .portfolio h3::after {
    margin-right: -40%;
    width: 80px;
  }

  .img__wrap {
    margin-left: 335px;
  }

  .img__wrap .project-title {
    font-size: 15px;
    margin-left: -450px;
    margin-top: -25px;
  }

  .img-tint-1 {
    width: 375px;
    margin-left: -415px;
    height: 250px;
  }

  .project-description {
    width: 350px;
    margin-top: 230px;
    margin-left: -455px;
    padding: 1px;
  }

  .project-description p {
    margin-left: 10px;
    font-size: 15px;
  }

  .img__wrap2 {
    margin-left: 335px;
    margin-top: 350px;
  }

  .img__wrap2 .project-title-2 {
    font-size: 15px;
    margin-left: -450px;
    margin-top: -25px;
    padding: 1px;
  }

  .img-tint-2 {
    width: 375px;
    margin-left: -415px;
    height: 250px;
  }

  .project-description-2 {
    width: 350px;
    margin-top: 230px;
    margin-left: 440px;
    padding: 1px;
  }

  .project-description-2 p {
    margin-left: 10px;
    font-size: 15px;
  }

  .img__wrap3 {
    margin-left: 335px;
    margin-top: 350px;
  }

  .img__wrap3 .project-title-3 {
    font-size: 15px;
    margin-left: -450px;
    margin-top: -25px;
  }

  .img-tint-3 {
    width: 375px;
    margin-left: -415px;
    height: 250px;
  }

  .project-description-3 {
    width: 350px;
    margin-top: 230px;
    margin-left: -455px;
    padding: 1px;
  }

  .project-description-3 p {
    margin-left: 10px;
    font-size: 15px;
  }

  .img__wrap4 {
    margin-left: 335px;
    margin-top: 350px;
  }

  .img__wrap4 .project-title-4 {
    font-size: 15px;
    margin-left: -450px;
    margin-top: -25px;
  }

  .img-tint-4 {
    width: 375px;
    margin-left: -415px;
    height: 250px;
  }

  .project-description-4 {
    width: 350px;
    margin-top: 230px;
    margin-left: 440px;
    padding: 1px;
}


  .project-description-4 p {
    margin-left: 10px;
    font-size: 15px;
  }

  #contact {
    margin-left: 50px;
  }

  .contact h3 {
    margin-top: 50px;
    margin-left: -35px;
    font-size: 25px;
  }

  .contact h3::before {
    margin-right: 0%;
    width: 80px;
  }

  .contact h3::after {
    margin-right: -40%;
    width: 80px;
  }

  .contact a {
    margin-left: 30px;
  }

  .contact p {
    margin-left: 130px;
  }

  .resume {
    margin-left: -30px;
  }

  .resume a {
    margin-left: 250px;
  }

  .footer {
    margin-left: 15px;
    margin-bottom: 10px;
  }
}


@media only screen and (max-width: 768px) {
  .header ul {
    margin-left: 130px;
  }

  .header a {
    font-size: 25px;
  }

  .name {
    width: 500px;
    margin-top: 20px;
    margin-left: 180px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .name h1 {
    color: var(--secondary-font-color);
    font-size: 30px;
  }

  .name h2 {
    line-height: 0.1;
    margin-bottom: 50px;
    font-size: 25px;
    margin-left: -350px;
  }

  .objective {
    width: 500px;
    margin-left: 190px;
  }

  .objective p {
    width: 500px;
    margin-left: -55px;
    font-size: 20px;
  }

  .btn {
    width: 300px;
    margin-left: 140px;
  }

  .leftside {
    margin-top: 450px;
    margin-left: -20px;
  }

  .v1 {
    margin-top: 130px;
    margin-left: 30px;
    height: 80px;
}
  

  .v2 {
    margin-top: 380px;
    margin-left: 30px;
    height: 100px;
  }

  .about-me {
    margin-left: 130px;
  }

  #portfolio {
    margin-left: 270px;
    margin-top: 300px;
  }
  
  #contact {
    margin-left: 150px;
  }

  .resume {
    margin-left: 80px;
  }

  .footer {
    margin-left: 125px;
  }
}

@media only screen and (max-width: 575px) {
  .name h1 {
    color: var(--secondary-font-color);
  }
}


